# ignore folders in MEMRL that aren't part of the general case 
./old_Aug2020/

./episodic_control/venv/
./episodic_control/data/
./episodic_control/runs/


./basic/Envs/gym-grid/venv/


.ipynb_checkpoints/
.idea/

# ignore common folders
*/__pycache__/*
*/.idea/*
*/.ipynb_checkpoints/*

*/old/*
*/data/*